tfds-nightly
tensorflow[and-cuda]
torch==2.1.2
torchvision==0.16.2
transformers==4.31.0
deepspeed
scikit-image==0.19.3
timm
einops
peft
sentencepiece==0.1.99
diffusers==0.15.1
matplotlib
xformers==0.0.23.post1
bitsandbytes
setuptools==65.5.0
wheel==0.38.0
gym==0.20.0
absl-py